# Prerequisites
*.d

*.lastbuildstate
*.cache

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.db
*.ipch
*.iobj
*.ipdb
*.tlog
*.pdb
*.user
*.recipe

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
project_and_run/.vs/tsu/FileContentIndex/60557c2b-fd91-497f-a291-3e26719f9d25.vsidx
